:root {
  font-size: 16px;
  width: 100vh;
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  color: #eee;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: 'Roboto Condensed', monospace;
  font-size: 0.75rem;
  line-height: 1.125rem;
  width: 100vh;
  height: 100%;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

canvas {
  vertical-align: middle;
}

#viewport {
  width: 100vh;
  height: 100%;
}

#ui {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 0.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 0.5rem;
}

#ui button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 1rem;
  height: 1rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  box-sizing: content-box;
  background: transparent;
  border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

#ui button > svg {
  height: 0.875rem;
}

#brush {
  display: flex;
  gap: 0.5rem;
}

#color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#color > div {
  width: 1rem;
  height: 1rem;
  border: 1px solid #666;
  border-radius: 0.625rem;
}

#color > input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -0.5rem;
}

#size {
  display: flex;
  gap: 0.25rem;
}

#size > div > button > span {
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.2s ease-in-out;
}

#size > div > button.active {
  cursor: default;
}

#size > div > button.active > span {
  background-color: #eee;
}

#actions {
  display: flex;
  gap: 0.25rem;
}

.action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.toggle {
  width: 1rem;
  height: 1rem;
  border: 1px solid #666;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #bbb;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.tooltip::before {
  position: absolute;
  display: block;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 0; 
  height: 0; 
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.5);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.action:hover .tooltip {
  display: block;
  animation: 0.2s ease-in 0.1s forwards fade;
}

#help {
  cursor: help;
}

#help .tooltip > div {
  display: flex;
}

#help .tooltip > div > div:nth-child(1) {
  width: 5.5rem;
}

#help .tooltip > div > div:nth-child(2) {
  color: #eee;
}

#info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0.5;
  color: #111;
}

#info > a {
  color: inherit;
}
